USE [master]
GO
/****** Object:  Database [ClienteDB]    Script Date: 04/05/2019 17:28:02 ******/
CREATE DATABASE [ClienteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClienteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ClienteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClienteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ClienteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClienteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClienteDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/05/2019 17:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 04/05/2019 17:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[SiglaEstado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190504181234_initialcreate', N'2.2.4-servicing-10062')
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteId], [CPF], [Nome], [SiglaEstado]) VALUES (2, N'170.943.147-44', N'Shelly Neira', N'AC')
INSERT [dbo].[Clientes] ([ClienteId], [CPF], [Nome], [SiglaEstado]) VALUES (8, N'18059757674', N'Maurílio Cozendei Pereira Neto', N'AC')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
USE [master]
GO
